:root {
  --borderColor: #69fff2;
  --headerColor: #3f3f3f;
}
* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: rgb(230, 255, 254);
}

header {
  padding: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #3f3f3f;
  color: #9d9ce7;
  display: flex;
  justify-content: space-between;
}

header li {
  white-space: nowrap;
  display: inline-block;
  margin-left: 20px;
}

.header-nav {
  background-color: var(--headerColor);
  margin-right: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-nav a {
  color: var(--borderColor);
  background-color: var(--headerColor);
  text-decoration: underline;
}

header h1 {
  position: relative;
  white-space: nowrap;
  color: #3f3f3f;
  background-color: #3f3f3f;

  border: 5px double var(--borderColor);
  border-radius: 40px 18px 40px 10px;
  text-shadow: 0 0 5px #fff, 0 0 5px rgb(195, 246, 248),
    0 0 15px rgb(142, 249, 255), 0 0 20px #3bf0f0, 0 0 30px #2420f1,
    0 0 40px #0a9abe, 0 0 55px #68a5df, 0 0 75px #e9e9c8;
  padding: 13px;
}

.heroImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

#hero {
  position: relative;
}

#coolCaption {
  position: absolute;
  color: rgb(54, 54, 54);
  background-color: rgba(126, 251, 255, 0.6);
  border-radius: 15px;
  box-shadow: 20px 18px 12px rgb(63, 62, 62);
  text-shadow: 5px 5px 3px rgb(63, 62, 62, 0.3);
  white-space: nowrap;
  padding: 10px;
  top: 5em;
  right: 100px;
  font-size: 22px;
  text-decoration: underline;
}

/*-------------------------main section-----------------------------*/

.mainContainer {
  position: relative;
  margin-top: 25px;
  margin-left: 5%;
  margin-right: 5%;
}

.paragraph-about-me-container {
  display: inline-block;
  position: relative;
  left: 200px;
  margin-right: 20%;
  top: -40px;
}

.paragraphAboutMe {
  display: inline;
}

.mainContainer h1 {
  /* white-space: nowrap; */
  width: 150px;
  display: inline;
}

/* .mainContainer h1::after {
  position: relative;
  content: "";
  display: inline;
  border: 2px solid rgb(101, 103, 129);
  left: 10px;
  width: 3px;
  height: 120px;
} */

/*------------------Pictures Section--------------------------*/

.pictureFlex {
  display: flex;
  position: relative;
  justify-content: space-between;
  flex-wrap: wrap;
  top: -40px;
  margin-left: 200px;
}

.my-work-image-hero {
  flex: 0 0 100%;
}
.my-work-image {
  flex: 0 0 49%;
  /* padding: 5px; */
  width: 200px;
  margin-top: 10px;
  position: relative;
}

.my-work-image-hero img {
  width: 100%;
  height: 300px;
  border: 5px solid rgb(58, 37, 241);
  object-fit: cover;
  position: relative;
}

.my-work-image img {
  height: 160px;
  width: 100%;
  border: 5px solid rgb(58, 37, 241);
  object-fit: cover;
  position: relative;
}

.image-text {
  background-color: #6be9ff;
  width: fit-content;
  left: 15px;
  position: absolute;
  top: 100px;
  border-radius: 20px 3px 20px 3px;
  padding: 5px;
}

.image-text h3,
h5 {
  position: relative;
  background-color: rgba(126, 251, 255, 0);
  padding: 2px;
}
/*---------------Footer*/
.mainContainer-footer {
  margin-bottom: 100px;
}
.mainContainer-footer h1 {
  margin-left: 5%;
  white-space: nowrap;
  display: inline;
}

footer a {
  white-space: nowrap;
  background-color: rgb(230, 255, 254);
  color: #3f3f3f;
  font-size: 1.2em;
  font-weight: bolder;
}

footer li {
  display: inline;
  margin-left: 4%;
}

footer ul {
  background-color: rgb(230, 255, 254);
  align-items: center;
  display: flex;
}
.contact-wrapper {
  display: inline;
}

.header-nav a:hover {
  transition: 0.5s ease;
  font-size: 1.2em;
  color: #f16d20;
}

.my-work-image:hover img,
.my-work-image-hero:hover img {
  transition: 0.5s ease;
  opacity: 0.5;
  cursor: -webkit-grab;
  border-radius: 60px 18px 60px 10px;
  border-color: rgb(253, 145, 13);
}

.my-work-image:hover .image-text,
.my-work-image-hero:hover .image-text {
  transition: 0.5s ease;
  border-radius: 3px 20px 3px 20px;
  background-color: rgb(253, 145, 13);
  font-size: 1.1em;
  box-shadow: 20px 18px 12px rgb(63, 62, 62);
}

/*-----------------Media-------------------*/
@media (max-width: 790px) {
  header {
    flex-direction: column;
  }
  header h1 {
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .image-text {
    display: none;
  }
}
